body {
    font-family: Arial, sans-serif;
    background-color: #e6bebe;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background: #c5c0c0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px 0;
    border-bottom: 1px solid #221e1e;
}
.completed {
    text-decoration: line-through;
    color: #fae1e1;
}
